body {
    font-family: 'Bellefair', serif;
    font-size: 20px;
    padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: ghostwhite;
}

/* canvas {
    font-family: 'Bellefair';
} */

#hasVotedAlreadyErrorMsg {
    width: 100%;
    text-align: center;
}

.hidden {
    display: none;
}

#chartTitle {
    text-align: center;
}

#chartContainer {
    height: 400px;
    width: 100%;
}

.canvasjs-chart-credit {
    visibility: hidden;
}
 
.fa-github {
    color: gray;
}